.main{
    position: relative;
    min-height:100vh;
}
#head{
    color:#333;
    padding-top: 3vh;
    text-align: center;
    font-size: 2rem;
    font-weight: xx-large;
}
#line{
    padding:10px;
    text-align: center;
}
.box{
    margin:15px 25px 15px 25px;
    box-shadow: 6px 6px 15px rgb(0 0 0 / 35%); 
    border-radius: 15px;
    display:flex;
}
.content{
    padding:15px;
    text-align: left;
    line-height: 30px;
}
.content>div{
    padding:20px;
}
h2{
    font-weight: bold;
    padding: 10px 20px 10px;
}