.main {
  position: relative;
  min-height: 100vh;
}
#head {
  color: #333;
  padding-top: 3vh;
  text-align: center;
  font-size: 2rem;
  font-weight: xx-large;
}
#line {
  padding: 10px;
  text-align: center;
}

.box {
  margin: auto;
}
.content {
  display: flex;
  padding: 35px;
  justify-content: center;
}

.contact {
  box-shadow: 1px 2px 8px rgb(0 0 0 /10%);
  border-radius: 25px;
  width: 100vw;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: inherit;
  transition: 0.5s ease-in-out;
  line-height: 25px;
  background-color: white;
}

button {
  background-color: #ffffff;
  border-radius: 15px;
  font-size: medium;
  border-style: solid;
  padding: 5px;
  margin-top: 5px;
  transition: 250ms ease-out;
  outline: none;
  cursor: pointer;
}

.fa-facebook {
  color: #3b5998;
  background-image: linear-gradient(
    to bottom,
    transparent 20%,
    white 20%,
    white 93%,
    transparent 93%
  );
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}
.whatsapp {
  color: #25d366;
  font-weight: 550;
  border-color: #25d366;
}
.direction {
  color: #3367d6;
  font-weight: 550;
  border-color: #3367d6;
}

.address {
  box-shadow: 1px 2px 8px rgb(0 0 0 / 10%);
  border-radius: 25px;
  width: 100vw;
  position: relative;
  justify-content: center;
  text-align: center;
  margin-left: 20px;
  padding: inherit;
  transition: 0.5s ease-in-out;
  line-height: 25px;
  background-color: white;
}
.address:hover,
.contact:hover {
  box-shadow: 1px 2px 8px rgb(0 0 0 / 200%);
  font-size: large;
}

.contact:hover .whatsapp {
  background: linear-gradient(#25d366, #25d366) 10px 84%/20px 15px no-repeat,
    radial-gradient(#25d366 100%, transparent 0);
  color: white;
}
.contact:hover .fa-whatsapp {
  background: #fff;
  color: linear-gradient(#25d366, #25d366) 10px 84%/10px 15px no-repeat,
    radial-gradient(#25d366 100%, transparent 0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.address:hover .direction {
  background-color: #3367d6;
  color: white;
}
.contact:hover .whatsapp > a,
.address:hover .direction > a,
.address:hover .fa-directions {
  color: white;
}

@media (max-width: 700px) {
  .content {
    flex-wrap: wrap;
  }
  .address {
    margin-left: auto;
    margin-top: 20px;
  }
}
.form{
  width:50vw;
  min-height:120px;
  margin:auto;
  padding:15px;
  display:flex;
  background:white;
  line-height: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 1px 2px 8px rgb(0 0 0 /10%);
  border-radius: 25px;
}
.form:hover{
  box-shadow: 1px 2px 8px rgb(0 0 0 / 200%); 
}
@media (max-width: 700px) {
  .form{
    margin: 35px;
    width: auto;
  }
}
.form input,textarea{
  width:250px;
  padding:8px 20px;
  margin: 8px 0;
  border: 1px solid #333;
  border-radius: 10px;
  outline:none;
}
.form input:focus,textarea:focus{
  box-shadow: 1px 2px 8px rgb(0 0 0 /20%);
  border:1px solid #ccc;
}
.form [type=submit]{
  width:40%;
  padding:5px 10px;
  margin: 8px 0 12px 0;
  font-size: 18px;
  font-weight: 600;
  color:#0066A2;
  border: 2px solid #0066A2;
  transition: 500ms ease-in-out;
}
.form [type=submit]:hover{
  background-color:#0066A2;
  color:white;
  border: 2px solid;
  font-size: 18px;
  font-weight: 600;
  outline:none;
}
.booking {
  display: flex;
  padding: 35px;
  justify-content: center;
}
.head {
  width: 100vw;
  position: relative;
  padding: inherit;
  line-height: 25px;
}

.qr {
  width: 100vw;
  text-align: center;
  align-content: center;
  position: relative;
  padding: inherit;
  margin: auto;
  border-radius: 25px;
  box-shadow: 1px 2px 8px rgb(0 0 0 /10%);
  transition: 0.5s ease-in-out;
  background-color: white;
}
#qr {
  width: 150px;
  height: 150px;
  margin: 8px;
  transition: 0.5s ease-in-out;
  outline-style: dashed;
  outline-color: black;
  image-rendering:pixelated;
}

@media (max-width: 700px) {
  .booking {
    flex-wrap: wrap;
    margin-bottom: 5vw;
  }
  .qr {
    margin-left: auto;
    margin-top: 20px;
  }
}

.qr:hover {
  box-shadow: 1px 2px 8px rgb(0 0 0 / 200%);
  color: black;
}
a {
  color: #333;
  text-decoration: none;
}
