body {
    width: auto;
    height: auto;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    transition: all 200ms ease-in-out;
  }
  .underconstruction{
    max-width: 70vw;
    height: 70vh;
    margin: auto;
    position: relative;
    display: flex;
    flex: auto;
  }
  .header{
    width:100%;
    text-align: center;
    font-size: large;
  }