<footer>
    <section>
        <div class="footer1">
            <div id="one">
                <h2
                    style=" font-family:'Roboto', sans-serif;font-weight: bolder; font-size: xx-large;">
                    Deva View Point</h2>
                <br>
                <h3 >Hotel & Restaurant</h3>
            </div>
            <div id="two">
                <a href="mailto:devaviewpoint@gmail.com"><i class="fas fa-envelope"></i> devaviewpoint@gmail.com</a>
                <br>
                <a href="callto:+919412118660"><i class="fas fa-phone"></i> +91 9412118660</a>
            </div>
        </div>
    </section>
    <div class="footer2">
        <p>Designed and Developed by <a href=https://www.github.com/printf-dj>Dixit Jhinkwan</a></p>
        <p class="last">Made with
            <heart class="iconheart hvr-pulse-grow"><i class="fas fa-heart"></i></heart> in India
        </p>
    </div>
</footer>