<footer>
    <section>
        <div class="footer1">
            <p>DVP</p>
            <a href="mailto:devaviewpoint@gmail.com"><i class="fas fa-envelope"></i> devaviewpoint@gmail.com</a>
            <br>
            <a href="callto:+919412118660"><i class="fas fa-phone"></i> +91 941 211 8660</a>
            <a href="callto:+919412118660"><i class="fab fa-whatsapp"></i></i> +91 941 211 8660</a>

        </div>
    </section>
        <div class="footer2">
            <p>Designed and Developed by <a href=https://www.github.com/printf-dj>Dixit Jhinkwan</a></p>
            <p class="last">Made with 
                <heart class="iconheart hvr-pulse-grow">❤</heart> in India </p>
        </div>
</footer>
