<footer>
    <section>
        <div class="footer1">
            <div id="one">
                <h2
                    style=" font-family:'Roboto', sans-serif;font-weight: bolder; font-size: xx-large;">
                    Deva View Point</h2>
                <br>
                <h3 >Hotel & Restaurant</h3>
            </div>
            <div id="socials">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/devaviewpoint"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                <a href="mailto:devaviewpoint@gmail.com"><i class="fas fa-envelope"></i></a>
                    </li>
                    <li>
                        <a href="https://wa.me/919412118660?text=Hello...!!,%20came%20here%20from%20your%20website."><i class="fab fa-whatsapp"></i></a>
                    </li>
                    <li>
                    <a href="callto:+919412118660"><i class="fas fa-phone"></i></a>
                </li>
        </ul>
            </div>
        </div>
    </section>
    <div class="footer2">
        <p>Made with <i class="fas fa-heart" style="color:red; font-size:15px"></i> in India by <a href=https://www.github.com/printf-dj>DJ</a>
        </p>
    </div>
</footer>